/*
 * Footer Section
 */

.footer-section {}

.footer-section .social {
	text-align: center;
	margin-bottom: var(--space-half); 
}

.footer-section .social img {
	width: auto;
	height: 32px;
}

.footer-section .logo {
	text-align: center;
	margin-top: var(--space-half); 
}

.footer-section .logo img {
	width: auto;
	height: 32px;
}

@media( min-width: 640px )  {
	.footer-section .social {
		text-align: left;
		margin-bottom: 0; 
	}

	.footer-section .social img {
		height: 24px;
	}

	.footer-section .logo {
		text-align: right;
		margin-top: 0; 
	}

	.footer-section .logo img {
		height: 24px;
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {
	.footer-section .social img {
		height: 32px;
	}

	.footer-section .logo img {
		height: 32px;
	}
}