/*
 * Header Section
 */

.header-section {
	pointer-events: all;
	display: block;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--space-one);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4), 0px 2px 6px rgba(0,0,0,0.05), inset 0 2px 0 rgba(255, 255, 255, 0.2);
	transform: translate(0);
	transition: transform .3s ease-out;
}

/* -- Add this class when scrolling down -- */
.header-section.hide {
	pointer-events: none;
	transform: translateY(-100%);
}

.header-section .logo {
}

.header-section .logo img {
	display: inline-block;
	width: auto;
	height: 24px;
	margin-top: calc( (var(--space-one) - 24px)/2 );
}

.header-section .navigation {
	text-align: right;
}

.header-section .navigation .nav-tray {
	pointer-events: none;
	position: absolute;
	z-index: 1;
	right: 0;
	top: var(--space-one);
	padding: var(--space-min);
	padding-bottom: 0;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4), 0px 2px 6px rgba(0,0,0,0.05), inset 0 2px 0 rgba(255, 255, 255, 0.2);
	transition: transform .3s ease-out, opacity .3s ease-out;
	opacity: 0;
	transform: translateY(-200%);
}

.header-section .navigation.show .nav-tray {
	pointer-events: all;
	opacity: 1;
	transform: translateY(0);
}

.header-section .navigation .nav-tray .link {
	display: block;
	text-align: right;
	margin-bottom: var(--space-min);
}

.header-section .navigation .nav-toggle button {
	display: inline-block;
	text-indent: -1000000px;
	margin-top: calc( ( var(--space-one) - var(--space-three-quarter) )/2 );
	background-image: url('../../../media/icons/icon-menu.svg');
	background-position: center center;
	background-size: 32px 32px;
	background-repeat: no-repeat;
}

.header-section .navigation.show .nav-toggle button {
	background-image: url('../../../media/icons/icon-close.svg');
}


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.header-section .logo img {
		height: 32px;
		margin-top: calc( (var(--space-one) - 32px)/2 );
	}

	.header-section .navigation .nav-toggle button {
		margin-top: calc( ( var(--space-one) - var(--space-half) )/2 );
	}

	.header-section .navigation .nav-tray {
		right: var(--space-half);
		top: calc( ( var(--space-one) - var(--space-half) )/2 );
		padding: 0;
		box-shadow: none;
		white-space: nowrap;
		background-color: transparent;
	}

	.header-section .navigation.show .nav-tray {
	}

	.header-section .navigation .nav-tray .link {
		display: inline-block;
		text-align: right;
		margin-bottom: 0;
		margin-right: var(--space-min);
		padding: 0 calc(var(--space-quarter)/2);
	}
}
@media( min-width: 1480px ) {
	.header-section .logo img {
		height: 48px;
		margin-top: calc( (var(--space-one) - 48px)/2 );
	}
}