/*
 * Portfolio Section
 */

.portfolio-section {
	position: relative;
}

/* -- Featured Project -- */

.portfolio-section .featured-project {
	position: relative;
}

.portfolio-section .featured-project .featured-image {
	position: relative;
	margin: var(--space-min) 0;
}

.portfolio-section .featured-project .featured-image .image-bg {
	height: 250px;
}

.portfolio-section .featured-project .featured-content .featured-name {
	position: relative;
	z-index: 1;
	margin-bottom: var(--space-quarter);
	padding-left: 34px;
	line-height: calc(var(--space-three-quarter)/2);
}
.portfolio-section .featured-project .featured-content .featured-name:after {
	content: '';
	position: absolute;
	top: -8px;
	left: 0;
	z-index: 2;
	width: 32px;
	height: 32px;
	/*background-color: red;*/
	background-image: url('../../../media/icons/icon-arrow-right.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 32px 32px;
}

@media( min-width: 640px )  {
	.portfolio-section .featured-project .featured-image .image-bg {
		height: 400px;
	}

	.portfolio-section .featured-project .featured-content .featured-name {
		margin-bottom: 0;
	}
}
@media( min-width: 1040px ) {
	.portfolio-section .featured-project .featured-image {
		margin: 0;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		bottom: 0;
		width: 50%;
	}

	.portfolio-section .featured-project .featured-image .image-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: auto;
	}

	.portfolio-section .featured-project .featured-content .featured-name {
		line-height: calc(var(--space-half)/2);
	}

	.portfolio-section .featured-project .featured-content .featured-name:after {
		top: -6px;
	}
}
@media( min-width: 1480px ) {
	.portfolio-section .featured-project .featured-content .featured-name:after {
		top: 0px;
	}
}






/* -- Other Project -- */

.portfolio-section .other-project {
	position: relative;
}

.portfolio-section .other-project .project-list {}

.portfolio-section .other-project .project-list .project-item {
	width: calc( 3 * var(--space-one) );
	margin-right: var(--space-min);
	height: 220px;
}

.portfolio-section .other-project .project-list .project-item:last-child {
	margin-right: 0;
}

.portfolio-section .other-project .project-list .project-item .title {
	position: relative;
	z-index: 2;
}

.portfolio-section .other-project .project-list .project-item:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.35;
}

@media( min-width: 640px )  {
	.portfolio-section .other-project .project-list .project-item {
		width: calc( 4 * var(--space-one) );
		height: 280px;
	}
}
@media( min-width: 1040px ) {
	.portfolio-section .other-project .project-list .project-item {
		width: calc( 3 * var(--space-one) );
		height: 340px;
	}
}
@media( min-width: 1480px ) {
	.portfolio-section .other-project .project-list .project-item {
		height: 480px;
	}
}













