/*
 * Service Section
 */

.service-section {}

.service-section .service-intro {}

.service-section .service-intro .image-bg {}

@media( min-width: 640px )  {
	.service-section .service-intro .image-bg {
		height: 360px;
	}
}
@media( min-width: 1040px ) {
	.service-section .service-intro .image-bg {
		height: 440px;
	}
}
@media( min-width: 1480px ) {
	.service-section .service-intro .image-bg {
		height: 620px;
	}
}